:root {
    --text-white: #fff;
    --text-crimson: #FF3343;
    --bg-black: #111111;
    --bg-grey: #181818;
    --bg-crimson: #C91B28;
    --padding-inline: 7%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
}

::selection {
    background-color: #C91B28;
    color: #fff;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.8);
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg-crimson);
    border-radius: 40px;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

nav {
    position: relative;
    scroll-snap-align: start;
    background-color: var(--bg-black);
    padding: 1% 7% 1% 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    width: 150px;
}

nav ul {
    display: flex;
    gap: 70px;
}

nav ul li {
    color: var(--text-white);
    text-transform: capitalize;
    font-family: arial;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}

/* ----------------------profile section------------------------- */

.profile__sectoin {
    scroll-snap-align: start;
    background: var(--bg-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: var(--padding-inline);
}

.profile__sectoin img.profile__pic {
    min-width: 260px;
}

.profile__sectoin .profile__text {
    padding: 20px;
}

.profile__sectoin .profile__text h4 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 0px;
    font-size: 30px;
    color: var(--text-crimson);
}

.profile__sectoin .profile__text h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    color: var(--text-white);
}

.profile__sectoin .profile__text p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px 0px;
    line-height: 25px;
    width: 80%;
    color: rgba(255, 255, 255, 0.731);
}

.profile__sectoin .profile__text button.btn {
    margin-top: 20px;
    padding: 15px 40px;
    color: var(--text-white);
    font-size: 17px;
    font-weight: 600;
    background-color: var(--bg-crimson);
}

section.working__info {
    scroll-snap-align: start;
    padding-inline: var(--padding-inline);
    background: linear-gradient(to left, var(--bg-black) 50%, var(--bg-grey) 50%);
}

.card__container {
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.card__container .card {
    max-width: 400px;
    background-color: #1E1E1E;
    padding: 40px 50px 20px 50px;
}

.card__container .card:nth-child(2) {
    background-color: var(--bg-crimson);
}

.card__container .card img {
    width: 130px;
}

.card__container .card h1 {
    font-family: arial;
    color: var(--text-white);
    font-size: 35px;
    padding: 10px 0px;
}

.card__container .card h4 {
    padding: 10px 0px;
    color: rgba(255, 255, 255, 0.635);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
}

.card__container .card button.btn {
    margin: 20px 0px;
    background: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-crimson);
    font-family: arial;
    font-size: 17px;
    font-weight: 600;
}

.card__container .card:nth-child(2) button.btn {
    color: #fff;
}

.card__container .card button.btn img {
    width: 20px;
}

.card__container:nth-child(2) {
    display: flex;
    padding: 120px 18px;
    justify-content: space-between;
    align-items: center;
}

.inner__card__container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.left__side {
    text-align: center;
}

.left__side h1 {
    color: var(--text-crimson);
    font-family: arial;
    font-size: 67px;
    font-weight: 900;
}

.left__side h2 {
    font-family: arial;
    color: var(--text-white);
    font-size: 30px;
    font-weight: 600;
}

.inner__card__container {
    display: grid;
    place-items: center;
    grid-gap: 20px;
}

.inner__card {
    background-color: #1e1e1e;
    width: 350px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inner__card h3 {
    font-family: arial;
    color: var(--text-crimson);
    font-size: 40px;
    font-weight: 900;
}

.inner__card p {
    font-family: arial;
    color: rgba(255, 255, 255, 0.646);
    font-size: 20px;

}

/*-----------------project gellary started-------------------  */
section.project_gellary {
    scroll-snap-align: start;
    padding: 100px var(--padding-inline);
    background-color: var(--bg-black);
}

.project_gellary .top__context {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project_gellary .top__context .text__content h1 {
    font-family: arial;
    font-size: 40px;
    color: var(--text-white);
}

.project_gellary .top__context .text__content p {
    color: rgba(255, 255, 255, 0.564);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.project_gellary .top__context .btn {
    background-color: var(--bg-crimson);
    color: var(--text-white);
    font-weight: bold;
    font-family: arial;
    font-size: 17px;
    padding: 20px 60px;
}

.project_card_container {
    margin-top: 50px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.project_card {
    /* width: 80%; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    flex-direction: column;
    background-color: #1E1E1E;
}

.card_image {
    padding: 80px 40px;
    /* width: 500px; */
}

.card_image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.btn_group {
    display: block;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    background-color: var(--bg-black);
}

.btn_group h3 {
    color: var(--text-white);
    font-weight: 700;
    font-size: 30px;
    font-family: arial;
}

.btn_group .btn1 {
    color: var(--text-crimson);
    font-size: 18px;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    width: 200px;
    text-align: left;
    background-color: transparent;
}

.btn_group .btn1 img {
    width: 20px;
}

/* -------------------contact section started--------- */
.contact {
    scroll-snap-align: start;
    padding: 100px var(--padding-inline);
    background-color: var(--bg-black);
}

.contact_container {
    padding: 40px;
    background-color: var(--bg-grey);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
}

.contact_text h1 {
    color: var(--text-white);
    font-family: arial;
    font-size: 50px;
}

.contact_text p {
    font-family: arial;
    padding: 30px 0px;
    width: 80%;
    color: rgba(255, 255, 255, 0.532);
}

.contact_btn {
    background-color: var(--bg-crimson);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 40px;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: #fff;
    background-color: var(--bg-black);
    font-size: 14px;
    font-family: arial;
    padding: 30px 0px;
}

footer ul:nth-child(2) {
    background-color: var(--bg-grey);
    padding: 30px 0px;
}

footer ul:nth-child(2) li:first-child img {
    width: 80px;
}

.menuIcon {
    display: none;
}

@media screen and (max-width:1030px) {
    .menuIcon {
        display: inline;
        color: #fff;
        font-size: 25px;
    }

    nav ul {
        position: absolute;
        width: 100%;
        height: 100vh;
        display: none;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        padding: 20px;
        background: rgba(0, 0, 0, .6);
        top: 80%;
        left: 0;
        backdrop-filter: blur(50px);
        border-radius: 10px;
    }

    nav ul li {
        font-size: 3rem;

    }

    .menuIcon:focus~ul {
        display: flex;
    }
}

@media screen and (max-width:1500px) {
    .card__container {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
}

@media screen and (max-width:1030px) {
    .card__container {
        grid-template-columns: 1fr;
        gap: 40px;
    }
}

@media screen and (max-width:1090px) {
    .card__container:nth-child(2) {
        flex-wrap: wrap;
        align-items: center;
    }

    .left__side {
        margin: 0 auto;
    }

    .right__side .inner__card__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:1550px) {
    .project_card_container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:1140px) {
    .profile__sectoin {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 40px;
    }

    .profile__pic {
        margin-top: 40px;
        width: 50%;
        border-radius: 50%;
        border: 10px solid #C91B28;
    }
}

@media screen and (max-width:460px) {
    .inner__card {
        width: 100%;
    }

    .project_gellary .top__context {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
}
@media screen and (max-width:950px){
    .card_image
    {
        padding: 0;
        width:100%;
    }
}